.news-pagination__wrapper {
    text-align: center;
}
.news-pagination {
    list-style: none !important;
    display: inline-flex;
}
.news-pagination__item {
    margin-left: 5px;
    margin-right: 5px;
}