.news-pagination__wrapper {
    text-align: center;
}
.news-pagination {
    list-style: none !important;
    display: inline-flex;
}
.news-pagination__item {
    margin-left: 5px;
    margin-right: 5px;
}

.page-numbers {
    font-weight: 600;
}
.page-numbers.current a {
    color: #0a0a0a;
}